################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/__pycache__
/t2t02-9a7d52080c34.json
/My First Project-cec0ea1d4595.json
/google/googleOcrTest
